{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <h2>What's in your cup?</h2>

    {% for drink in drinks %}
      <a href="/drinks/{{drink.id}}">
        <p>Current Drink: {{ drink.name }}</p>
        <p>Recipe: {{ drink.recipe }}</p>
      </a>
    {% endfor %}
    
    <button type="button" name="button"><a href="/">Back to work</a></button>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Add a drink</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>What's in your cup?</h3>
        <form action="post_url/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit" />
        </form>
      </div>

    </div>


{% endblock %}
