{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <h2>What's in your cup?</h2>

    {% for drink in drinks %}
      <a href="/drinks/{{drink.id}}">
        <p>Current Drink: {{ drink.name }}</p>
        <p>Recipe: {{ drink.recipe }}</p>
      </a>
      <button> <a href="{% url 'edit_drink' drink.id %}" type="button" name="button">Edit</button>
      <button><a href="{% url 'delete_drink' drink.id %}" type="button" name="button">Delete</button>

    {% endfor %}
    <form action="post_url/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>


{% endblock %}
