{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<title>TreasureGram</title>
  </head>
  <body>
    <a href="/"><h1>TreasureGram</h1></a>
    <hr />
    {% for treasure in treasures %}
      <a href="/{{treasure.id}}">
        <p>Name: {{ treasure.name }}</p>
      {% if treasure.value > 0 %}
        <p>Value: {{ treasure.value}}</p>
      {% else %}
        <p>Value: Unknown</p>
      {% endif%}
      </a>
      <hr />
    {% endfor %}
    <footer>All Rights Reserved, TreasureGram 2017</footer>
  </body>
 </html>
