{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <h2>What's playing at your desk?</h2>

    {% for ipod in ipods %}

      <a href="/ipod/{{ipod.id}}">
        <p>Album: {{ ipod.album }}</p>
        <p>Artist: {{ ipod.artist }}</p>
        <p>Favorite Track: {{ ipod.track }}</p>
      </a>

    {% endfor %}

    <button type="button" name="button"><a href="/">Back to Work</a></button>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Add Your Music</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>What's playing at your desk?</h3>
        <form action="post_url/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit" />
        </form>
      </div>

    </div>

{% endblock %}
